<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pokemon Battle!</title>
    <link rel='stylesheet' href='/style.css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    
</head>
<body style='body {font-size: 20px; font-smooth: never; -webkit-font-smoothing: none; font-family: "pokemon-font", monospace;}'>

    <div class="jumbotron jumbotron-fluid">

        <div class="container">
        <h1 class="display-4">Pokemon Battle!</h1>
        <p class="lead">Pick a Pokeball and let the battle begin!</p>
        </div>
    </div>

